@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click to view the <a asp-controller="Products" asp-action="Index">products</a>, or your <a asp-controller="Basket" asp-action="Index">basket</a>.</p>
</div>
