@model System.Collections.Generic.IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Basket</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>
                    @Html.ActionLink("Remove", "Delete", new { id = p.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Basket" asp-action="Order" asp-route-redirect="@Context.Request.Path" method="post">
    <button type="submit">Place Order</button>
</form>

